
ul{
    margin:0px;
    padding:0.9rem;
    text-align: right;
    background-color: bisque;
    border: 2px;
    box-shadow: 5px 5px 5px rgb(255, 0, 106);
}
li{
    display: inline-block;
    margin:0.8rem;

}
li a{
    text-decoration: solid;
    color: black;
}
h2 a{
    text-decoration: solid;
}
.mine{
    background-color: black;
    height:100px ;
    padding: 20px;
    box-shadow:5px 5px 5px rgb(199, 75, 178),10px 10px 10px white;
}
img{
    border:2px;
    box-shadow:5px 5px 5px rgb(224, 23, 147), 10px 10px 10px rgb(79, 79, 121),15px 15px 15px rgb(130, 216, 130);
}
    input{
        width:400px;
       padding:10px;
       border-color: black;
       
    }




