ul{
    margin:0px;
    padding:0.9rem;
    text-align: right;
    background-color: aqua;
}
li{
    display: inline;
    margin:0.8rem;
}
li a{
 text-decoration:solid ;
 color:rgb(31, 15, 211);
}
li a:hover{
    text-decoration: underline;
    color:rgb(221, 6, 64);
}